div {
    width: 400px;
    background-color: #EEE;
    border-left:5px #E91E63 solid;
    outline: #EEE 5px solid;
    font-size: 30px;
    margin-bottom: 30px;
    font-family: sans-serif;
}

div:nth-child(2) {
    visibility: hidden;
}
