body {
    text-align: center;
}

a {
    display: inline-block;
    font-family: sans-serif;
    padding: 15px;
    font-size: 14px;
    background-color: #009688;
    border-bottom: 5px solid #00514A;
    color: white;
    text-decoration: none;
}