html {
    font-family: sans-serif;
}
p {
    background-color: #EFEFEF;
    padding: 15px;
    width: 700px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 15px;
    border-left: 5px solid #E91E63;
}

p::before {
    content: attr(data-person);
    background-color: #EEE;
    padding: 15px;
    display: inline-block;
    position: absolute;
    width: 40px;
    text-align: center;
    left: -100px;
    top: 0;
}

p::after {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid ;
    border-color: transparent #E91E63 transparent transparent;
    position: absolute;
    left: -24px;
}