/* 
شاهد البنية السابقة في المثال ولا تقم بالتعديل عليها
قم بتلوين كلمة Title باللون الأحمر
قم بتلوين جملة Child Title باللون الأزرق
قم بتلوين جملة Paragraph Content باللون الأخضر
قم بتلوين جملة Section Title باللون الأخضر
قم بجمع الألوان المتشابهه مع بعضها

*/

.parent .child {
    color: red;
}

.parent .title {
    color: blue;
}

.parent p, div.title {
    color: green;
}