html {
    font-family: sans-serif;
}
.parent {
    width: 600px;
    height: 300px;
    margin: auto;
    background-color: #EEE;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10px;
}

.parent div {
    background-color: #009688;
    color: white;
    height: calc((300px - 50px) / 3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent .one {
    align-self: flex-end;
    width: 30px;
}

.parent .two {
    width: 50%;
}

.parent .three {
    align-self: flex-end;
    width: 30px;
}